.container {
    max-width: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 400px;
}

.image-container {
    width: 4000px;
    height: 300px;  
    transform: 0px;
    display: flexbox;
    overflow-y: hidden;

}
.button-container {
    display: flex;

}
